/* elements */
html, body {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  line-height: 24px;
}

body {
  padding: 16px;
}

h1 {
  font-size: 1.5em;
}

button {
  /* Reset button style */
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

pre {
  white-space: pre-wrap;
  margin: 12px 0;
}

input[type="text"], input[type="password"], input[type=number] {
  /* background: rgba(46, 50, 56, 0.05); */
  /* border: 1px solid rgba(46, 50, 56, 0.05); */
  border: 1px solid #aaa;
  padding: 6px 12px;
  outline: none;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type=number]:focus {
  border-color: rgb(0, 100, 250);
}

/* classes */

/* from https://semi.design/zh-CN/basic/button */
.button {
  padding: 8px 14px;
  background: #eee;
  border: 0px solid transparent;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  user-select: none;
}

.button.primary {
  background: rgba(0, 100, 250, 1);
  color: #fff;
}

.button.huge {
  font-size: 1.5em;
  padding: .5em .8em;
  border-radius: 5px;
}

.callout {
  padding: 12px;
  border: 1px solid #aaa;
  background: #eaeaea;
  border-radius: 3px;
}

.callout.warn {
  border-color: rgba(254,217,152, 1);
  background: rgba(255,248,234, 1);
}

.callout.error {
  border-color: rgba(253, 183, 165, 1);
  background: rgba(254, 242, 237, 1);
}

.callout.info {
  border-color: rgb(152, 205, 253);
  background: rgb(234, 245, 255);
}

/* ## form */
.input-group {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.input-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.input-feedback {
  font-size: .9em;
  margin-top: 4px;
  color: rgb(0, 100, 250);
}

.input-feedback.error {
  color: rgb(205, 28, 28);
}
